In [1]:
import pandas as pd

In [2]:
bids=pd.read_csv('bids.csv')
bids.head()

,bid_id,bidder_id,auction,merchandise,device,time,country,ip,url
0,0,8dac2b259fd1c6d1120e519fb1ac14fbqvax8,ewmzr,jewelry,phone0,9759243157894736,us,69.166.231.58,vasstdc27m7nks3
1,1,668d393e858e8126275433046bbd35c6tywop,aeqok,furniture,phone1,9759243157894736,in,50.201.125.84,jmqlhflrzwuay9c
2,2,aa5f360084278b35d746fa6af3a7a1a5ra3xe,wa00e,home goods,phone2,9759243157894736,py,112.54.208.157,vasstdc27m7nks3
3,3,3939ac3ef7d472a59a9c5f893dd3e39fh9ofi,jefix,jewelry,phone4,9759243157894736,in,18.99.175.133,vasstdc27m7nks3
4,4,8393c48eaf4b8fa96886edc7cf27b372dsibi,jefix,jewelry,phone5,9759243157894736,in,145.138.5.37,vasstdc27m7nks3

In [85]:
train=pd.read_csv('train.csv')
train.head()

,bidder_id,payment_account,address,outcome
0,91a3c57b13234af24875c56fb7e2b2f4rb56a,a3d2de7675556553a5f08e4c88d2c228754av,a3d2de7675556553a5f08e4c88d2c228vt0u4,0.0
1,624f258b49e77713fc34034560f93fb3hu3jo,a3d2de7675556553a5f08e4c88d2c228v1sga,ae87054e5a97a8f840a3991d12611fdcrfbq3,0.0
2,1c5f4fc669099bfbfac515cd26997bd12ruaj,a3d2de7675556553a5f08e4c88d2c2280cybl,92520288b50f03907041887884ba49c0cl0pd,0.0
3,4bee9aba2abda51bf43d639013d6efe12iycd,51d80e233f7b6a7dfdee484a3c120f3b2ita8,4cb9717c8ad7e88a9a284989dd79b98dbevyi,0.0
4,4ab12bc61c82ddd9c2d65e60555808acqgos1,a3d2de7675556553a5f08e4c88d2c22857ddh,2a96c3ce94b3be921e0296097b88b56a7x1ji,0.0

## 1- Selecting the number of unique ip addresses for each auction:

In [3]:
print('Number of unique auction ids: ',len(list(set(list(bids['auction'])))))

Number of unique auction ids:  15051

In [4]:
unips_per_auct=bids[['auction','ip']].groupby(['auction']).agg({"ip": lambda x: x.nunique()})
pd.DataFrame.to_csv(unips_per_auct,'question_1.csv')
print(len(unips_per_auct)) # Must be 15051
unips_per_auct.head()

15051

          ip
auction
00270    771
008vv      2
00cwr     13
00do0      2
00hjy     32

## 2- Selecting the countries with maximum bids for each marchandise type:

In [5]:
merch=list(set(list(bids['merchandise'])))
print('Number of merchandise types is: ',len(merch))

Number of merchandise types is:  10

In [84]:
maxBuy_per_merc=bids.groupby(['merchandise','country'])['country'].count()
df=pd.DataFrame(maxBuy_per_merc)
df

                        country
merchandise    country
auto parts     ae             1
               au             1
               bd           503
               bn            21
               ca            89
               ci             1
               cn            68
               eg           295
               eu             1
               gh           285
               gy            27
               hk             4
               id           432
               il           124
               in          2243
               jm             1
               jo             2
               ke           100
               lb             6
               lk           112
               ly           381
               mu             2
               mw            16
               my           100
               na             8
               ng          1258
               no             3
               np             1
               nz             2
               om             2
...                         ...
sporting goods sr            32
               sv          4274
               sy           245
               sz          1253
               tc             1
               td           865
               tg          1288
               th         32411
               tj            32
               tl             4
               tm            51
               tn          1461
               tr         30116
               tt           386
               tw          2031
               tz          6268
               ua          4366
               ug          1840
               uk         57347
               us         95100
               uy            60
               uz           124
               ve          1041
               vi             9
               vn         46488
               ye            82
               za        118915
               zm         12943
               zw         12654
               zz             2

[1524 rows x 1 columns]

For each type of merchandise, we have the number of bids made by each country (if it did). So now final step is to select the maximum for each merchandise type.

In [7]:
count_mer=list(df.index) # A list that contains tuples in the format (merchandise_type,country)
bid_counts=list(df['country']) # Bid counts for all (merchandise_type,country) tuples.

In [8]:
final_dict={}
for j in range (len(merch)):
    temp=[]
    for i in range (len(bid_counts)):
        if merch[j]==count_mer[i][0]:
            temp.append((count_mer[i][1],bid_counts[i]))
    result=max(temp,key=lambda x:x[1])
    final_dict[merch[j]]=[result[0],result[1]]

In [9]:
final_dict # The format of the dictionary I created above!

{'sporting goods': ['in', 346852],
 'office equipment': ['in', 56140],
 'mobile': ['in', 578076],
 'computers': ['th', 16731],
 'jewelry': ['in', 560773],
 'auto parts': ['in', 2243],
 'books and music': ['in', 11820],
 'furniture': ['in', 47031],
 'clothing': ['in', 7619],
 'home goods': ['in', 169649]}

In [10]:
max_bid_per_merch=pd.DataFrame.from_dict(columns=['Top bidding Country','Amount of bids'],data=final_dict,orient='index')
pd.DataFrame.to_csv(max_bid_per_merch,'question_2.csv')
max_bid_per_merch

                 Top bidding Country  Amount of bids
sporting goods                    in          346852
office equipment                  in           56140
mobile                            in          578076
computers                         th           16731
jewelry                           in          560773
auto parts                        in            2243
books and music                   in           11820
furniture                         in           47031
clothing                          in            7619
home goods                        in          169649

## 3- Average number of unique bidders per auction in each of the three separate time periods:

It is save to assume that the bids are ordered chronologically (Since it's a number that is increasing with each bid). I will devide this dataset into 3 pieces, each will represent a time period. We have 7656334 bid.

In [72]:
temp1=bids.loc[:2552112][['auction','bidder_id']].groupby(['auction'],as_index=False).agg({'bidder_id':lambda x:x.nunique()})
temp2=bids.loc[2552112:5104223][['auction','bidder_id']].groupby(['auction'],as_index=False).agg({'bidder_id':lambda x:x.nunique()})
temp3=bids.loc[5104223:][['auction','bidder_id']].groupby(['auction'],as_index=False).agg({'bidder_id':lambda x:x.nunique()})

We will calculate the avergae number of bidders per auction over the 3 time periods. That's the only way that makes the average make sense to me.

Some auctions might not have any bids during one of the periods so we must take that into consideration too.

In [73]:
auctions=list(set(bids['auction']))
def generate(oldDF): # Generates a dataframe with the count of bidders for each period. 
    newDF=pd.DataFrame()
    auct=list(oldDF['auction'])
    temp=[]
    for i in range (len(auctions)):
        if auctions[i] in auct:
            temp.append(int(oldDF.loc[oldDF['auction']==auctions[i]]['bidder_id']))
        else: 
            temp.append(0)
    newDF['Auction']=auctions
    newDF['bidder count']=temp
    print('Done!')
    return newDF

In [74]:
period1=generate(temp1)
period2=generate(temp2)
period3=generate(temp3)

Done!
Done!
Done!

In [83]:
result=pd.DataFrame()
result['Auctions']=auctions
result['Average unique bidders']=[(period1['bidder count'][i]+period2['bidder count'][i]+period3['bidder count'][i])/3 for i in range (len(auctions))]
pd.DataFrame.to_csv(result,'question_3.csv')
result.head()

  Auctions  Average unique bidders
0    cx0p4                7.666667
1    s6w8f                4.666667
2    1551c               54.666667
3    xf5ay                0.333333
4    1gk1b                3.000000

## 4- The fraction of times a bid from a country was identified as coming from a robot:

Just like the second questions this requires a two level aggregation then some further processing to get the desired result. 

But first let's calculate the union between bids and train dfs.

In [86]:
union=pd.merge(bids,train,on='bidder_id')

In [87]:
initialDF=union.groupby(['outcome','country'])['country'].count()
df=pd.DataFrame(initialDF)
df

                 country
outcome country
0.0     ad            10
        ae         14330
        af          1963
        ag             3
        al          2639
        am           470
        ao          7076
        ar         10792
        at          2445
        au          7756
        az          8630
        ba           618
        bb            43
        bd         28754
        be          2844
        bf          2638
        bg          1586
        bh          1040
        bi            40
        bj           980
        bm             9
        bn         12814
        bo          1126
        br         26072
        bs             2
        bt             9
        bw          4600
        by           616
        bz             5
        ca          7804
...                  ...
1.0     sr            22
        sv           307
        sy           172
        sz            36
        tc             1
        td             2
        tg            42
        th         17282
        tj             9
        tl             1
        tm            43
        tn           251
        tr          6676
        tt            42
        tw          1285
        tz           179
        ua          2875
        ug            70
        uk          8782
        us         66663
        uy            16
        uz            62
        ve           106
        vi             8
        vn          7696
        ye            50
        za         13364
        zm           461
        zw           236
        zz             1

[382 rows x 1 columns]

In [99]:
# Some countries are missing let's check what those are.
output_country=list(df.index) # A list that contains tuples in the format (output_type,country)
outCount_counts=list(df['country']) # bid counts for all (output_type,country) tuples.

human=[t[1] for t in list(df.index) if t[0]==0]
bots=[t[1] for t in list(df.index) if t[0]==1]
bots_human=[i for i in bots if i not in human]
human_bots=[i for i in human if i not in bots]
[i for i in set(list(union['country'])) if i not in human and i not in bots]
#for country in bots_human:
 #   output_country.append((0.0,))

[nan]

In [155]:
bots_human

['an', 'aw', 'gi', 'gp', 'nc', 'tc', 'vi']

In [152]:
final_dict={}
countries=[c for c in list(set(union['country'])) if pd.notnull(c)]
scores=[]
for j in range (len(countries)):
    temp=[]
    for i in range (len(output_country)):
        if countries[j]==output_country[i][1]:
            temp.append((output_country[i][0],outCount_counts[i]))
    final_dict[countries[j]]=temp

In [154]:
final_dict

{'cy': [(0.0, 398), (1.0, 166)],
 'je': [(0.0, 1), (1.0, 7)],
 'mt': [(0.0, 153), (1.0, 24)],
 'ga': [(0.0, 597), (1.0, 4)],
 'ir': [(0.0, 16076), (1.0, 919)],
 'bt': [(0.0, 9), (1.0, 3)],
 'by': [(0.0, 616), (1.0, 144)],
 'fo': [(0.0, 1), (1.0, 8)],
 'hu': [(0.0, 1949), (1.0, 739)],
 'ye': [(0.0, 408), (1.0, 50)],
 'cg': [(0.0, 97), (1.0, 8)],
 'ua': [(0.0, 20445), (1.0, 2875)],
 'cd': [(0.0, 898), (1.0, 14)],
 'rw': [(0.0, 2114), (1.0, 89)],
 'bd': [(0.0, 28754), (1.0, 464)],
 'sz': [(0.0, 1243), (1.0, 36)],
 'ie': [(0.0, 1604), (1.0, 922)],
 'th': [(0.0, 67432), (1.0, 17282)],
 'kr': [(0.0, 634), (1.0, 6340)],
 'rs': [(0.0, 20391), (1.0, 458)],
 'me': [(0.0, 399), (1.0, 48)],
 'om': [(0.0, 5159), (1.0, 674)],
 'au': [(0.0, 7756), (1.0, 8634)],
 'tl': [(0.0, 5), (1.0, 1)],
 'np': [(0.0, 4477), (1.0, 173)],
 'et': [(0.0, 29262), (1.0, 388)],
 'cf': [(0.0, 5)],
 'kw': [(0.0, 7985), (1.0, 1243)],
 'tm': [(0.0, 10), (1.0, 43)],
 'ch': [(0.0, 2832), (1.0, 1993)],
 'mu': [(0.0, 1783), (1.0, 60)],
 'no': [(0.0, 2253), (1.0, 682)],
 'zw': [(0.0, 14688), (1.0, 236)],
 'mw': [(0.0, 3983), (1.0, 112)],
 'de': [(0.0, 10436), (1.0, 18530)],
 'lv': [(0.0, 588), (1.0, 151)],
 'kg': [(0.0, 37), (1.0, 4)],
 'ca': [(0.0, 7804), (1.0, 9205)],
 'gb': [(0.0, 3), (1.0, 1)],
 'bz': [(0.0, 5), (1.0, 1)],
 'gp': [(1.0, 2)],
 'ps': [(0.0, 19), (1.0, 29)],
 'jo': [(0.0, 12912), (1.0, 329)],
 'in': [(0.0, 559245), (1.0, 86386)],
 'an': [(1.0, 1)],
 'qa': [(0.0, 5490), (1.0, 572)],
 'ci': [(0.0, 385), (1.0, 28)],
 've': [(0.0, 3720), (1.0, 106)],
 'it': [(0.0, 10708), (1.0, 3480)],
 'md': [(0.0, 637), (1.0, 60)],
 'tn': [(0.0, 2183), (1.0, 251)],
 'at': [(0.0, 2445), (1.0, 3407)],
 'ar': [(0.0, 10792), (1.0, 2486)],
 'hk': [(0.0, 4781), (1.0, 860)],
 'gy': [(0.0, 86), (1.0, 8)],
 'gh': [(0.0, 118398), (1.0, 425)],
 'do': [(0.0, 22), (1.0, 63)],
 'dj': [(0.0, 1175), (1.0, 16)],
 'lr': [(0.0, 1027), (1.0, 15)],
 'my': [(0.0, 77319), (1.0, 10488)],
 'cl': [(0.0, 2330), (1.0, 555)],
 'co': [(0.0, 495), (1.0, 129)],
 'pe': [(0.0, 1082), (1.0, 265)],
 'dz': [(0.0, 4727), (1.0, 523)],
 'fj': [(0.0, 71), (1.0, 3)],
 'li': [(0.0, 6), (1.0, 5)],
 'br': [(0.0, 26072), (1.0, 3932)],
 'tw': [(0.0, 1329), (1.0, 1285)],
 'se': [(0.0, 2790), (1.0, 2479)],
 'mo': [(0.0, 3), (1.0, 140)],
 'pl': [(0.0, 12382), (1.0, 1688)],
 'id': [(0.0, 153733), (1.0, 20495)],
 'bo': [(0.0, 1126), (1.0, 99)],
 'ma': [(0.0, 9093), (1.0, 960)],
 'mx': [(0.0, 46438), (1.0, 10848)],
 'tg': [(0.0, 1170), (1.0, 42)],
 'la': [(0.0, 413), (1.0, 148)],
 'gi': [(1.0, 1)],
 'za': [(0.0, 141974), (1.0, 13364)],
 'cn': [(0.0, 6198), (1.0, 3109)],
 'ng': [(0.0, 345411), (1.0, 6852)],
 'so': [(0.0, 1039), (1.0, 9)],
 'sa': [(0.0, 26109), (1.0, 5626)],
 'tz': [(0.0, 7000), (1.0, 179)],
 'be': [(0.0, 2844), (1.0, 446)],
 'zm': [(0.0, 15061), (1.0, 461)],
 'ae': [(0.0, 14330), (1.0, 1335)],
 'tt': [(0.0, 335), (1.0, 42)],
 'uz': [(0.0, 160), (1.0, 62)],
 'sc': [(0.0, 232), (1.0, 5)],
 'fi': [(0.0, 1796), (1.0, 500)],
 'si': [(0.0, 1538), (1.0, 291)],
 'ad': [(0.0, 10), (1.0, 4)],
 'ro': [(0.0, 18425), (1.0, 1138)],
 'gm': [(0.0, 458), (1.0, 12)],
 'ee': [(0.0, 333), (1.0, 118)],
 'mr': [(0.0, 2698), (1.0, 9)],
 'na': [(0.0, 3063), (1.0, 120)],
 'pa': [(0.0, 3926), (1.0, 579)],
 'zz': [(0.0, 3), (1.0, 1)],
 'gu': [(0.0, 31), (1.0, 13)],
 'ml': [(0.0, 1930), (1.0, 20)],
 'lt': [(0.0, 2318), (1.0, 326)],
 'pt': [(0.0, 1287), (1.0, 258)],
 'iq': [(0.0, 12223), (1.0, 1115)],
 'kh': [(0.0, 522), (1.0, 352)],
 'sb': [(0.0, 17)],
 'sy': [(0.0, 316), (1.0, 172)],
 'mp': [(0.0, 1), (1.0, 5)],
 'fr': [(0.0, 9150), (1.0, 3748)],
 'ls': [(0.0, 391), (1.0, 11)],
 'az': [(0.0, 8630), (1.0, 248)],
 'mg': [(0.0, 542), (1.0, 21)],
 'bw': [(0.0, 4600), (1.0, 28)],
 'nz': [(0.0, 1265), (1.0, 424)],
 'pr': [(0.0, 746), (1.0, 550)],
 'ru': [(0.0, 42774), (1.0, 11100)],
 'ug': [(0.0, 2730), (1.0, 70)],
 'tj': [(0.0, 96), (1.0, 9)],
 'ws': [(0.0, 5)],
 're': [(0.0, 8), (1.0, 6)],
 'bb': [(0.0, 43), (1.0, 5)],
 'mh': [(0.0, 1)],
 'cv': [(0.0, 347), (1.0, 37)],
 'mn': [(0.0, 33), (1.0, 134)],
 'bh': [(0.0, 1040), (1.0, 199)],
 'am': [(0.0, 470), (1.0, 60)],
 'sl': [(0.0, 849), (1.0, 21)],
 'sv': [(0.0, 5532), (1.0, 307)],
 'lu': [(0.0, 267), (1.0, 105)],
 'jm': [(0.0, 132), (1.0, 22)],
 'py': [(0.0, 5909), (1.0, 217)],
 'sr': [(0.0, 17), (1.0, 22)],
 'dk': [(0.0, 5009), (1.0, 1585)],
 'td': [(0.0, 166), (1.0, 2)],
 'bi': [(0.0, 40)],
 'ni': [(0.0, 334), (1.0, 31)],
 'mz': [(0.0, 1929), (1.0, 14)],
 'sn': [(0.0, 1623), (1.0, 37)],
 'jp': [(0.0, 498), (1.0, 7921)],
 'vi': [(1.0, 8)],
 'ly': [(0.0, 2276), (1.0, 186)],
 'lk': [(0.0, 27589), (1.0, 848)],
 'al': [(0.0, 2639), (1.0, 60)],
 'mk': [(0.0, 803), (1.0, 224)],
 'tc': [(1.0, 1)],
 'ke': [(0.0, 146322), (1.0, 5385)],
 'ge': [(0.0, 1822), (1.0, 209)],
 'er': [(0.0, 1)],
 'pk': [(0.0, 22059), (1.0, 1163)],
 'sg': [(0.0, 6824), (1.0, 2780)],
 'ne': [(0.0, 1580), (1.0, 7)],
 'cm': [(0.0, 5621), (1.0, 1464)],
 'sd': [(0.0, 4903), (1.0, 177)],
 'aw': [(1.0, 7)],
 'mv': [(0.0, 79), (1.0, 60)],
 'bg': [(0.0, 1586), (1.0, 386)],
 'gq': [(0.0, 1544), (1.0, 1)],
 'ao': [(0.0, 7076), (1.0, 63)],
 'vn': [(0.0, 83300), (1.0, 7696)],
 'ag': [(0.0, 3), (1.0, 6)],
 'is': [(0.0, 90), (1.0, 21)],
 'nl': [(0.0, 4559), (1.0, 2910)],
 'bn': [(0.0, 12814), (1.0, 680)],
 'mc': [(0.0, 581), (1.0, 4)],
 'bs': [(0.0, 2), (1.0, 7)],
 'gn': [(0.0, 1)],
 'tr': [(0.0, 78220), (1.0, 6676)],
 'uy': [(0.0, 85), (1.0, 16)],
 'cr': [(0.0, 547), (1.0, 87)],
 'gr': [(0.0, 2843), (1.0, 698)],
 'ec': [(0.0, 1613), (1.0, 133)],
 'bj': [(0.0, 980), (1.0, 29)],
 'af': [(0.0, 1963), (1.0, 92)],
 'ba': [(0.0, 618), (1.0, 58)],
 'nc': [(1.0, 11)],
 'il': [(0.0, 2397), (1.0, 2138)],
 'uk': [(0.0, 44081), (1.0, 8782)],
 'hn': [(0.0, 70), (1.0, 10)],
 'bm': [(0.0, 9), (1.0, 5)],
 'bf': [(0.0, 2638), (1.0, 13)],
 'kz': [(0.0, 84), (1.0, 61)],
 'gl': [(0.0, 21), (1.0, 13)],
 'pf': [(0.0, 5), (1.0, 9)],
 'hr': [(0.0, 3390), (1.0, 191)],
 'dm': [(0.0, 4), (1.0, 13)],
 'ph': [(0.0, 18616), (1.0, 4818)],
 'lb': [(0.0, 2731), (1.0, 380)],
 'ht': [(0.0, 258), (1.0, 9)],
 'es': [(0.0, 9213), (1.0, 3872)],
 'gt': [(0.0, 13643), (1.0, 590)],
 'mm': [(0.0, 250), (1.0, 46)],
 'pg': [(0.0, 289), (1.0, 3)],
 'eg': [(0.0, 8267), (1.0, 1265)],
 'eu': [(0.0, 5237), (1.0, 1364)],
 'cz': [(0.0, 4503), (1.0, 441)],
 'sk': [(0.0, 1683), (1.0, 517)],
 'us': [(0.0, 73380), (1.0, 66663)]}

In [158]:
final_scores=[]
countries=list(final_dict.keys())
for c in countries:
    current=final_dict[c]
    if len(current)==2:
        frac=current[1][1]/(current[1][1]+current[0][1])
    elif current[0][0]==1:
        frac=1
    elif current[0][0]==0:
        frac=0
    final_scores.append(frac)
result=pd.DataFrame()
result['Countries']=countries
result['Fraction of bot generated bids']=final_scores
pd.DataFrame.to_csv(result,'question_4.csv')
result

    Countries  Fraction of bot generated bids
0          cy                        0.294326
1          je                        0.875000
2          mt                        0.135593
3          ga                        0.006656
4          ir                        0.054075
5          bt                        0.250000
6          by                        0.189474
7          fo                        0.888889
8          hu                        0.274926
9          ye                        0.109170
10         cg                        0.076190
11         ua                        0.123285
12         cd                        0.015351
13         rw                        0.040399
14         bd                        0.015881
15         sz                        0.028147
16         ie                        0.365004
17         th                        0.204004
18         kr                        0.909091
19         rs                        0.021967
20         me                        0.107383
21         om                        0.115549
22         au                        0.526785
23         tl                        0.166667
24         np                        0.037204
25         et                        0.013086
26         cf                        0.000000
27         kw                        0.134699
28         tm                        0.811321
29         ch                        0.413057
..        ...                             ...
168        uy                        0.158416
169        cr                        0.137224
170        gr                        0.197119
171        ec                        0.076174
172        bj                        0.028741
173        af                        0.044769
174        ba                        0.085799
175        nc                        1.000000
176        il                        0.471444
177        uk                        0.166128
178        hn                        0.125000
179        bm                        0.357143
180        bf                        0.004904
181        kz                        0.420690
182        gl                        0.382353
183        pf                        0.642857
184        hr                        0.053337
185        dm                        0.764706
186        ph                        0.205599
187        lb                        0.122147
188        ht                        0.033708
189        es                        0.295911
190        gt                        0.041453
191        mm                        0.155405
192        pg                        0.010274
193        eg                        0.132711
194        eu                        0.206635
195        cz                        0.089199
196        sk                        0.235000
197        us                        0.476018

[198 rows x 2 columns]

In [133]:
len(final_scores)

120

In [55]:
df=pd.DataFrame(columns=['auction','ip'])
df.loc[0]=['01','12.45.66.78']
df.loc[1]=['01','12.45.66.78']
df.loc[2]=['06','12.45.63.78']
df.loc[3]=['02','12.45.61.78']
df.loc[4]=['01','12.45.64.78']
df.loc[5]=['05','12.45.61.78']
df.loc[6]=['03','12.45.66.78']
df.loc[7]=['03','12.45.68.78']
df.loc[8]=['01','12.45.66.78']
df.loc[9]=['01','12.45.61.78']
df

  auction           ip
0      01  12.45.66.78
1      01  12.45.66.78
2      06  12.45.63.78
3      02  12.45.61.78
4      01  12.45.64.78
5      05  12.45.61.78
6      03  12.45.66.78
7      03  12.45.68.78
8      01  12.45.66.78
9      01  12.45.61.78