In [1]:
import pandas as pd

In [2]:
bids=pd.read_csv('bids.csv')
bids.head()

,bid_id,bidder_id,auction,merchandise,device,time,country,ip,url
0,0,8dac2b259fd1c6d1120e519fb1ac14fbqvax8,ewmzr,jewelry,phone0,9759243157894736,us,69.166.231.58,vasstdc27m7nks3
1,1,668d393e858e8126275433046bbd35c6tywop,aeqok,furniture,phone1,9759243157894736,in,50.201.125.84,jmqlhflrzwuay9c
2,2,aa5f360084278b35d746fa6af3a7a1a5ra3xe,wa00e,home goods,phone2,9759243157894736,py,112.54.208.157,vasstdc27m7nks3
3,3,3939ac3ef7d472a59a9c5f893dd3e39fh9ofi,jefix,jewelry,phone4,9759243157894736,in,18.99.175.133,vasstdc27m7nks3
4,4,8393c48eaf4b8fa96886edc7cf27b372dsibi,jefix,jewelry,phone5,9759243157894736,in,145.138.5.37,vasstdc27m7nks3

## 1- Selecting the number of unique ip addresses for each auction:

In [63]:
print('Number of unique auction ids: ',len(list(set(list(bids['auction'])))))

Number of unique auction ids:  15051

In [64]:
unips_per_auct=bids[['auction','ip']].groupby(['auction']).agg({"ip": lambda x: x.nunique()})
pd.DataFrame.to_csv(unips_per_auct,'question_1.csv')
print(len(unips_per_auct)) # Must be 15051
unips_per_auct.head()

15051

          ip
auction
00270    771
008vv      2
00cwr     13
00do0      2
00hjy     32

## 2- Selecting the countries with maximum bids for each marchandise type:

In [106]:
merch=list(set(list(bids['merchandise'])))
print('Number of merchandise types is: ',len(merch))

Number of merchandise types is:  10

In [318]:
maxBuy_per_merc=bids.groupby(['merchandise','country'])['country'].count()
df=pd.DataFrame(maxBuy_per_merc)
df
pd.DataFrame.to_csv(df,'test.csv')

For each type of merchandise, we have the number of bids made by each country (if it did). So now final step is to select the maximum for each merchandise type.

In [302]:
count_mer=list(df.index) # A list that contains tuples in the format (merchandise_type,country)
bid_counts=list(df['country']) # Bid counts for all (merchandise_type,country) tuples.

In [316]:
final_dict={}
max_bids=bid_counts[0]
for j in range (len(merch)):
    temp=[]
    for i in range (len(bid_counts)):
        if merch[j]==count_mer[i][0]:
            temp.append((count_mer[i][1],bid_counts[i]))
    result=max(temp,key=lambda x:x[1])
    final_dict[merch[j]]=[result[0],result[1]]

In [321]:
final_dict # The format of the dictionary I created above!

{'office equipment': ['in', 56140],
 'home goods': ['in', 169649],
 'jewelry': ['in', 560773],
 'furniture': ['in', 47031],
 'mobile': ['in', 578076],
 'clothing': ['in', 7619],
 'auto parts': ['in', 2243],
 'books and music': ['in', 11820],
 'sporting goods': ['in', 346852],
 'computers': ['th', 16731]}

In [320]:
max_bid_per_merch=pd.DataFrame.from_dict(columns=['Top bidding Country','Amount of bids'],data=final_dict,orient='index')
pd.DataFrame.to_csv(max_bid_per_merch,'question_2.csv')
max_bid_per_merch

                 Top bidding Country  Amount of bids
office equipment                  in           56140
home goods                        in          169649
jewelry                           in          560773
furniture                         in           47031
mobile                            in          578076
clothing                          in            7619
auto parts                        in            2243
books and music                   in           11820
sporting goods                    in          346852
computers                         th           16731

## 3-

In [55]:
df=pd.DataFrame(columns=['auction','ip'])
df.loc[0]=['01','12.45.66.78']
df.loc[1]=['01','12.45.66.78']
df.loc[2]=['06','12.45.63.78']
df.loc[3]=['02','12.45.61.78']
df.loc[4]=['01','12.45.64.78']
df.loc[5]=['05','12.45.61.78']
df.loc[6]=['03','12.45.66.78']
df.loc[7]=['03','12.45.68.78']
df.loc[8]=['01','12.45.66.78']
df.loc[9]=['01','12.45.61.78']
df

  auction           ip
0      01  12.45.66.78
1      01  12.45.66.78
2      06  12.45.63.78
3      02  12.45.61.78
4      01  12.45.64.78
5      05  12.45.61.78
6      03  12.45.66.78
7      03  12.45.68.78
8      01  12.45.66.78
9      01  12.45.61.78